<!DOCTYPE html>
<html lang="en-us">

<head>
    <link href="https://cdn.jsdelivr.net/npm/monaco-editor@0.46.0/min/vs/editor/editor.main.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.46.0/min/vs/loader.js"></script>
    <style>
        html, body {
            margin: 0;
            height: 100%;
            width: 100%;
        }

        .row {
            display: flex;
            width: 100%;
            height: 100%;
        }

        .column {
            width: 100%;
            height: 100%;
        }

        .updated {
            background-color: #FFF59D;
        }

        .added {
            background-color: #A5D6A7;
        }

        .deleted {
            background-color: #EF9A9A;
        }

        .moved_updated, .moved_unchanged {
            background-color: #CE93D8;
        }

        .none {
            background-color: #64B5F6;
        }

        .selected {
            color: #2196F3 !important;
        }


    </style>
    <title>CiDiff</title>
</head>

<body>
<div class='row'>
    <div class='column' id='right'>
    </div>
</div>
<script>
    const ciDiff = {
        left: [
            {{#left-lines}}
                "{{{.}}}",
            {{/left-lines}}

        ],
        right: [
            {{#right-lines}}
                "{{{.}}}",
            {{/right-lines}}

        ],
    };
</script>
<script>
    function getColor(type) {
        switch (type) {
            case "updated": return "#FFF59D";
            case "added": return "#A5D6A7";
            case "deleted": return "#EF9A9A";
            case "moved_updated":
            case "moved_unchanged": return "#CE93D8";
            case "none": return "#CE93D8";
        }
    }

    let right_actions = [
        {{#right-actions}}
            {type: "{{type}}", left:{{left}}, right:{{right}}},
        {{/right-actions}}
    ]

	// setup the folds between the "added" hunks
	let folds = [];
	for (let i = 1; i < right_actions.length; ++i) {
		if (right_actions[i-1].type != "added" && right_actions[i].type == "added") {
			let j = 1;
			while (i-j >= 0 && right_actions[i-j].type != "added") { ++j; }
			if (j > 6) {  // we keep a window of 3 lines arounds the "added" hunks
				folds.push({start: i-j+5, end: i-3});
			}
		}
	}
	// in case there is non "added" lines after the last added line
	let last_green = right_actions.length - 1;
	while (right_actions[last_green].type != "added") { --last_green; }
	if (last_green < right_actions.length - 4) {
		folds.push({start: last_green + 5, end: right_actions.length});
	}

    require.config({paths: {'vs': 'https://cdn.jsdelivr.net/npm/monaco-editor@0.46.0/min/vs'}});
    require(['vs/editor/editor.main'], function () {
        monaco.languages.register({
            id: "cidiff",
        })

        monaco.languages.registerFoldingRangeProvider("cidiff", {
            provideFoldingRanges: (model, context, token) => folds
        })
        let rightEditor = monaco.editor.create(document.getElementById('right'), {
            value: ciDiff.right.join('\n'),
            minimap: {enabled: false},
            readOnly: true,
            scrollBeyondLastLine: false,
            language: "cidiff",
            automaticLayout: true,
            //wordWrap: "on"
        });
        rightEditor.trigger('fold', 'editor.foldAll')

        function ranges(l, r, type) {
            let sl = ciDiff.left[l].split(/\s/);
            let sr = ciDiff.right[r].split(/\s/);
            let x = 0;
            let i = 0;
            let arr = [];
            for (let j = 0; j < sr.length; ++j) {
                if (sr[j] == "") {
                    ++x;
                    continue;
                }
                if (sl[i] == "") {
                    ++i;
                    --j;
                    continue;
                }
                if (sl[i] != sr[j]) {
                    arr.push({
                        range: new monaco.Range(r + 1, x + 1, r + 1, x + 1 + sr[j].length),
                        options: {isWholeLine: false, className: type, overviewRuler: {color: getColor(type)}}
                    });
                }
                x += sr[j].length + 1;
                ++i;
            }
            return arr;
        }

        function mapToDecorations(actions) {
            return actions.flatMap((a, i) => {
                let arr = []
                if (a.type == "unchanged") {
                    return arr;
                }
                if (a.type.includes("updated")) {
                    if (a.type == "moved_updated") {
                        arr.push({
                            range: new monaco.Range(i + 1, 1, i + 1, 1),
                            options: {isWholeLine: true, className: a.type, overviewRuler: {color: getColor(a.type)}}
                        });
                    }
                    arr.push(...ranges(actions[i].left, actions[i].right, a.type));
                } else {
                    arr.push({
                        range: new monaco.Range(i + 1, 1, i + 1, 1),
                        options: {isWholeLine: true, className: a.type, overviewRuler: {color: getColor(a.type)}}
                    });
                }
                return arr;
            })
        }

        let rightDecorations = rightEditor.createDecorationsCollection(mapToDecorations(right_actions));

    });
</script>
</body>

</html>
